extends layout.pug

block number1
	if error
		p.error Please type in a videogame.

	if success
		p.success Well done! Good choice!

	if deleted
		p.success Successfully Deleted!
		
	form.form(action='/add' method='POST')
		input.input(type='text' placeholder ='Add your videogame description here...' name='videogame')
		button.btn Add

	div.videogames
		if videogames.length
			each videogame in videogames
				p.videogame 
					if videogame.done
						a.done(href=`/${ videogame.id }/update`) #{ videogame. description }
					else
						a.undone(href=`/${ videogame.id }/update`) #{ videogame. description }
					a.delete(href=`/${ videogame.id }/delete`) Delete
		else
			p.videogame No videogame available